*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --clr-light: #ffffff;
    --clr-dark: #303030;
    --clr-accent: #cabf45;

    --bs: 0.25em 0.25em 0.75em rgba(o,o,o,.25), 0.125em 0.125em 0.25 rgba(0,0,0,.15);
}

@media (min-width 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background-image: url("assets/moonbackground.jpg");
    background-size: cover;
    margin: 0;
    color: white;
    font-size: var(--fs-body);
    line-height: 1.6;
    font-family: var(--ff-primary);
}

.intro__image {
    box-shadow: var(--bs);
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
/* typography */


h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }

h2 { font-size: var(--fs-h2) }

h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

strong {
    font-weight: var(--fw-bold);
}

section {
    padding: 5em 2em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    display: inline-block;
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro, .section__subtitle--about {
    font-family: var(--ff-secondary);
    background: var(--clr-accent);
    margin-bottom: 1em;
    padding: .25em 1em;
}

/* intro section */

.intro {
    position: relative;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__image {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
    
}

/* what i do */

.my-services {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    background-image: url(assets/battlestation.jpg);
    background-size: cover;
    background-blend-mode: multiply; 
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.5;
}

.services {
    margin-bottom: 2em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .serviecs {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
    
}

/* about me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__image {
    box-shadow: var(--bs)
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
        grid-column-gap: 2em;
    }

    .section__title-about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__image {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

.figure {
    height: 400px;
    width: 350px;
}

.figure-caption {
    color: #cabf45;
    text-align: center;
}

.nav-link {
    font-size: 25px;
    color: white;
}

.big-text {
    font-size: 20px;
}